# Pooled connection
DATABASE_URL="postgresql://postgres.idlujcvbphslvxdchrgp:Tahan80206!@db.idlujcvbphslvxdchrgp.supabase.co:5432/postgres"

# Direct connection
DIRECT_URL="postgresql://postgres.idlujcvbphslvxdchrgp:Tahan80206!@db.idlujcvbphslvxdchrgp.supabase.co:5432/postgres"

# Auth Secret (32+ random string)
AUTH_SECRET="TakiAlZakiSecureAuthSecret2026SuperKey!"

# Public App URL (Locally http://localhost:3000, Vercel-এ Production URL হবে)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Supabase Realtime Configuration
NEXT_PUBLIC_SUPABASE_URL="https://idlujcvbphslvxdchrgp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkbHVqY3ZicGhzbHZ4ZGNocmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MDc4MzEsImV4cCI6MjEwMTA4MzgzMX0.W8YTfS65zSRjcW5xQBnLkESN-ZOVbNCMNNBc_qBy7D4"
