NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAGvHSJKwOQYh_jtAgHg8dzW3Ztt3JENgo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=felihub-32947.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=felihub-32947
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=felihub-32947.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=700590439162
NEXT_PUBLIC_FIREBASE_APP_ID=1:700590439162:web:a4cbe01fbee15074732743
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-44XSJLBNVJ
